.add-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #92c0ffa9;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
    border-radius: 5%;
  }
  
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Màu chữ */
    
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
  }
  
  .input-field {
    flex: 1;
    margin-right: 10px;
    background-color: #f2f2f2; /* Màu nền */
    color: #333; /* Màu chữ */
   
  }
  
  .submit-button {
    display: block;
    margin: 20px auto;
    background-color: #007bff; /* Màu nền */
    color: #fff; /* Màu chữ */
  }